data/appdata/xfce4-power-manager.appdata.xml
data/interfaces/acme_ui.h
data/interfaces/xfpm-settings_ui.h
libdbus/org.xfce.unique.h
libdbus/xfpm-dbus-marshal.c
libdbus/xfpm-dbus-marshal.h
src/panel-plugins/brightness/xfce4-brightness-plugin
po/Makefile.in.in
po/xfce4-power-manager.pot
settings/xfce-power-manager-dbus-client.h
settings/xfce4-power-manager-settings
src/org.freedesktop.PowerManagement.Inhibit.h
src/org.freedesktop.PowerManagement.h
src/org.xfce.power.policy
src/xfce-power-manager-dbus-client.h
src/xfce-power-manager-dbus-server.h
src/xfce4-power-information
src/xfce4-power-manager
src/xfpm-marshal.c
src/xfpm-marshal.h
src/xfpm-power-backlight-helper
src/xfce4-pm-helper
common/xfpm-enum-types.c
common/xfpm-enum-types.h
m4/*
cov-int/*
libdbus/org.xfce.unique.c
settings/xfce-power-manager-dbus.c
settings/xfce-power-manager-dbus.h
src/org.freedesktop.PowerManagement.Inhibit.c
src/org.freedesktop.PowerManagement.c
src/xfce-power-manager-dbus.c
src/xfce-power-manager-dbus.h
